@import 'bulma';

$primary: #cb0039;
$t2w: 200px;
$red: $primary;
$darker: #4A4A4A;

.navPages-list-alt {
    margin-bottom: 0 !important;
}

// nav (made by JOMA)
.navPages-item.alt {
    position: relative;
    
    .icon {
        height: 0.5rem;
        width: 0.5rem;
    }

    h6 {
        color: #222;
    }

    &:hover {
        cursor: pointer;

        .t2-href p {
            color: $primary;
        }
    }

    .t2-href {
        display: block;

        p {
            margin: 0;
        }
    }

    .navPage-subMenu_alt {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: #efefef;
        z-index: 9;
        text-align: left;
        box-shadow: 1px 11px 6px rgba(0, 0, 0, 0.3);
        margin-top: 1px;

        @include bp(M-tablet) {
            position: static;
            box-shadow: 0 0 0;
            padding: 1em;

            h6 {
                color: $primary;
            }

            img {
                display: none !important;
            }
        }
    }


    .t2-list {
        font-size: 0.9em;

        .nav-t2-item {
            background: #fff;
            padding: 1em;
            
            .t2-href {
                text-decoration: none;
                width: $t2w;

                p {
                    color: $darker;
                    font-weight: bold;
                    padding: 0;
                    padding-left: 1em;
                    margin: 0;
                }
            }

            &.active {
                background: none;

                .t2-href p {
                    color: $primary !important;
                    text-decoration: underline;
                }

                .t3-list {
                    display: block;
                }
            }
        }

        .t3-list {
            display: none;
            position: absolute;
            top: 0;
            left: $t2w;
            cursor: default;
            background: $red;
            color: #fff;

            right: 0;
            height: 100%;
            padding: 1em;

            .t2-img {
                position: absolute;
                right: 0;
                // float: right;
            }

            a {
                text-decoration: none;
                color: #fff;

                &.darker {
                    color: darken(#fff, 0.5);
                }
            }
        }
    }

    a.navPages-action {
        padding: 1em;
    }




    &:hover {
        @media (min-width: 1000px) {
            .navPage-subMenu_alt {
                display: block;
            }
        }
    }

    // default item based styles
    &.isMobile {
        .no-kids {
            text-align: left !important;

            h6 {
                margin: 0;
                text-align: left !important;
            }
        }

        .navPages-action {
            position: sticky;
            top: 0;
            z-index: 2;
            //background: #fff;
            border-bottom: 1px solid rgba(#ccc, 0.75);
        }

        .navPage-subMenu_alt {
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: none;
        }
    }

    // when mobile is open styles
    &.mobile_open {
        position: relative;

        .navPage-subMenu_alt {
            display: block;
        }
    }
}