<!-- BCFIND file start :: ./templates/components/joma/category-nav_2.html -->
<ul class="navPages-list-alt columns is-gapless is-centered">
    {{#each categories}}
    <li class="navPages-item alt column">
        <!-- t1 -->
        <a class="navPages-action has-subMenu {{#if children}}haschildren{{/if}}">
            <span class="text-menu">{{name}}</span>
            <i class="icon navPages-action-moreIcon hide" aria-hidden="true"><svg>
                <use xlink:href="#icon-chevron-down" /></svg></i>
        </a>


        {{#if children}}
        <div class="navPage-subMenu_alt" id="navPages-{{id}}" tabindex="-1">
                
            
            {{!-- t2 (with children) --}}
            <div class="t2-list">
                {{#each children}}

                    {{!-- t3 triggers --}}
                    <div class="nav-t2-item">
                        <a href="{{url}}" class="t2-href">
                            <p class="text-menu">{{name}}</p>
                        </a>
                        {{!-- content --}}
                        <div class="t3-list">

                            <div class="t3-list-col columns is-multiline is-gapless">
                                {{#each children}}
                                <div class="nav-t3-item column is-6">
                                    <a href="{{url}}" class="text-menu">{{name}}</a>
                                </div>
                                {{/each}}
                                <div class="nav-t3-item column is-12" style="bottom: 1em; position: absolute;">
                                    <a href="{{url}}" class="text-menu darker">View all {{name}}</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                {{/each}}
            </div>


        </div>
        {{/if}}

    </li>
    {{/each}}
</ul>


<script>

    /* var mx = 0;
    var my = 0;
    var angle = 0;
    var currTarget; */
    setTimeout(() => {

        // T1 HOVER
        $('.navPages-item').hover(
            function(e) {
                var t2Items = $(this).find('.nav-t2-item').removeClass('active');
                var currTarget = t2Items[0];
                $(currTarget).addClass('active');

                /* $('.nav-t2-item').mousemove(function(e) {
                    angle = getAngle(mx, my, e.pageX, e.pageY);
                    if (angle != 0 && angle <= 50 && angle >= -50) {
                        //console.log('DONT TRIGGER', angle);
                    } else if (angle != 0 && $(e.target).hasClass('nav-t2-item')) {
                        //console.log('TRIGGER     ', angle, e.target);

                        currTarget = $(e.target);
                        currTarget.addClass('active');
                    }
                    
                    mx = e.pageX;
                    my = e.pageY;
                }); */
            },
            function() {
                //$('.nav-t2-item').off('mousemove');
            }
        );

        

        // T2 HOVER
        $('.nav-t2-item').hover(
            function(e) {
                $('.nav-t2-item').removeClass('active');
                $(e.target).addClass('active');
                //if (currTarget) currTarget.addClass('active');
            },
            function() {
                
            }
        );
    }, 100);



    // Returns angle in degrees
    /* function getAngle(cx, cy, ex, ey) {
        var dy = ey - cy;
        var dx = ex - cx;
        var theta = Math.atan2(dy, dx); // range (-PI, PI]
        theta *= 180 / Math.PI; // rads to degs, range (-180, 180]
        //if (theta < 0) theta = 360 + theta; // range [0, 360)
        return theta;
    } */
</script>


