<ul class="navPages-list-alt columns is-gapless is-centered is-narrow">
    {{#each categories}}
    <li class="navPages-item alt column">
        <!-- t1 -->
        <a class="navPages-action has-subMenu {{#if children}}haschildren{{/if}}">
            <span class="text-menu">{{name}}</span>
            <i class="icon navPages-action-moreIcon hide" aria-hidden="true"><svg>
                <use xlink:href="#icon-chevron-down" /></svg></i>
        </a>


        {{#if children}}
        <div class="navPage-subMenu_alt" id="navPages-{{id}}" tabindex="-1">
                
            
            {{!-- t2 (with children) --}}
            <div class="t2-list">
                {{#each children}}

                    {{!-- t3 triggers --}}
                    <div class="nav-t2-item">
                        <a href="{{url}}" class="t2-href">
                            <p class="text-menu">{{name}}</p>
                        </a>
                        {{!-- content --}}
                        <div class="t3-list">

                            <div class="t3-list-col columns is-multiline">
                                {{#each children}}
                                <div class="nav-t3-item column is-6">
                                    <a href="{{url}}" class="text-menu">{{name}}</a>
                                </div>
                                {{/each}}
                                <div class="nav-t3-item column is-12">
                                    <a href="{{url}}" class="text-menu darker">View all {{name}}</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                {{/each}}
            </div>


        </div>
        {{/if}}

    </li>
    {{/each}}
</ul>


<script>
    var mx = 0;
    var my = 0;
    var angle = 0;
    var currTarget;
    var interval;
    setTimeout(() => {

        // T1 HOVER
        $('.navPages-item').hover(
            function(e) {

                // Make first T2 active
                var t2Items = $(this).find('.nav-t2-item').removeClass('active');
                var currTarget = t2Items[0];
                $(currTarget).addClass('active');

                interval = setInterval(() => {
                    $('.nav-t2-item').removeClass('active');
                    currTarget = $('.nav-t2-item:hover');
                    currTarget.addClass('active');
                }, 800);

                $('.nav-t2-item').mousemove(function(e) {

                    angle = Math.atan2(e.pageY - my, e.pageX - mx) * 180 / Math.PI;

                    //console.log('angle', angle);
                    if (angle <= 70 && angle >= -70) {

                    } else if (angle != 0 && $(e.target).hasClass('nav-t2-item')) {
                        
                        currTarget = $(e.target);
                        $('.nav-t2-item').removeClass('active');
                        currTarget.addClass('active');
                    }
                    
                    mx = e.pageX;
                    my = e.pageY;
                });
            },
            function() {
                $('.nav-t2-item').off('mousemove');
                if (interval) { clearInterval(interval); }
            }
        );
    }, 100);
</script>


